@model List<ResultCarWithBrandsDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Lists</h4>
                        <p class="card-subtitle mb-4">
                            Create, Delete, Update, Search and for List 
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Transmission</th>
                                        <th>Km</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Details</th>
                                        <th>See on Website</th>
                                        <th>Price Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model)
                                    {
                                        count++;
                                        <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.BrandName</td>
                                        <td>@item.Model</td>
                                        <td>@item.Transmission</td>
                                        <td>@item.Km</td>
                                        <td><a href="/AdminCar/DeleteCar/@item.CarId" class="btn btn-outline-danger">Delete</a></td>
                                        <td><a href="/AdminCar/UpdateCar/@item.CarId" class="btn btn-outline-success">Update</a></td>
                                        <td><a href="/CarList/CarDetail/@item.CarId" class="btn btn-outline-dark">Details</a></td>
                                         <td><a href="/CarList/CarDetail/@item.CarId" class="btn btn-outline-warning">See on Website</a></td>
                                            <td><a href="/CarList/CarDetail/@item.CarId" class="btn btn-outline-secondary">Price Information</a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminCar/CreateCar/" class="btn btn-outline-primary">Create</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

