@model List<ResultTestimonialDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Testimonial List</h4>
                        <p class="card-subtitle mb-4">
                            Create,Update,Delete and List (Please just let 4 item in Testimonials)
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Comment</th>
                                        <th>ImageUrl</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.Title</td>
                                            <td>@item.Comment</td>
                                            <td>@item.ImageUrl</td>
                                            <td><a href="/Admin/AdminTestimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminTestimonial/CreateTestimonial/" class="btn btn-outline-primary">Create New Testimonial</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container-fluid -->
</div>

